@import url("global.css");

h1 { 	
	padding:5px;
	font-weight:bold; 
	font-family:Arial; 
	color:#FFFF00; 
	background:#999999; 
	border-bottom:3px solid #FFFFFF; 
	margin:0
}
h2 { 
	padding:5px; 	
	font-weight:bold; 
	font-family:Arial; 
	color:#A78049; 
	background:#666666; 
	border-bottom:3px solid #FFFFFF; 
	margin:0
}

#wrap{
	width: 1024px;
	position: absolute;
}

#logo { 
	font-family:Arial; 
	font-size:30px; 
	color:#FFFFFF; 
	font-weight:bold; 
	background:#000000; 	
	padding:20px;	
	position: relative;
	height:30px; 
}

#logo #logo_title {
	float:left;	
	width:80%;	
}
#logo #logo_login{
	float:left;
	width:20%;
	font-size:15px;		
	vertical-align: bottom;;
}
#page { 
	position:relative;	
	overflow:visible;
	width: 100%;
}
#menu { 
	position:relative; 
	padding:20px; 
	width:200px; 
	background:#666666; 
	float:left; 
	height: 100%; 
}

#menu h1 { 
	width:190px; 
	font-size:24px; 	
}

#menu li { 
	 width:190px; 
	 padding:5px; 
	 border-bottom:1px dotted #FFFFFF; 
	 font-family:Arial; 
	 font-size:14px; 
	 font-weight:bold; 
	 color:#FFFFFF; 	 
}

#contents {	
	position:relative; 
	padding:20px; 
	background: #999999; 
	font-size:12px; 
	font-family:Verdana; 
	color:black; 	
	float:left; 
	height:auto;
	width: 744px;
}

#contents h2 { 	
	font-size:24px; 	
}

#text { padding:5px; line-height:150%; font-family:Verdana; text-align:justify}

#footer { 
	position:relative; 
	clear:both; 
	background: #333333; 
	font-family: Verdana; 
	font-size:30px; 
	font-weight:bold; 
	color:#FFFFFF; 
	padding:20px;
}




a:link,
a:visited
{
    color: #0398CA;
}

/* Table */
th {
    text-align: left;
}
td, th {
    padding-right: 5px;
}

/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;
    
}
form #submitbutton {
    margin-left: 100px;
}

/*countdown*/
.listName {float:left; font-size: 13pt; width: 130px; color: #206F86; font-weight: bold;}
.cBtn {padding-left: 15px; vertical-align: middle;}
#insertDiv {display: none;}

.disabled {color:#FFFFFF;}
